<!--The content below is only a placeholder and can be replaced.-->
<br>
<div class=container>
Select Container:
<SELECT [(ngModel)]="container" type=form-control name=container (change)="getContainerLogs($event.target.value)" ngDefaultControl>
    <option>Select Container</option>
    <option *ngFor="let con of containers">{{con}}</option>
</SELECT>


<hr>
<div class="table-responsive">
<div *ngIf="containerLoading" align=center><img src="assets/loading.gif"></div>        
<table class="table table-hover table-bordered ">

    <tr *ngFor="let logentry of logs">
            <td>{{logentry.log}}</td>
            <td>{{logentry.stream}}</td>
            <td>{{logentry.time}}</td>        
    </tr>

</table>
</div>

</div>